.journey-home-container {
    display: flex;
    margin-top: 80px;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;
    text-align: center;

}

.journey-home-title {
    margin-bottom: 50px;
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
}