.login  {

    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    background-image: linear-gradient(to top left, #373B44, #4286f4);

}

.login-div {
    width: 430px;
    height: 700px;
    padding: 60px 35px 35px 35px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
        -13px -13px 20px rgb(150, 150, 150);
    border-radius: 10px;
}

.login-logo {
    background-image: url("./9.jpg");
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0px 0px 2px #5f5f5f,
        0px 0px 0px 5px #b9b9b9,
        8px 8px 15px #a7aaaf,
        -8px -8px 15px rgb(192, 192, 192);
}

.login-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    padding-top: 24px;
    letter-spacing: 0.5px;
}

.login-title .login-p{
    cursor: pointer;
}

.sub-title {
    text-align: center;
    font-size: 18px;
    padding-top: 7px;
    letter-spacing: 3px;
}

.login-fields {

    width: 100%;
    padding: 75px 5px 5px 5px;

}

.login-fields input {
    border: none;
    outline: none;
    background: none;
    font-size: 20px;
    columns: #555;
    padding: 20px 10px 20px 5px;
}

.login-username, .login-password {
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
        inset -8px -8px 8px #fff;
}

.login-fields svg {
    height: 22px;
    margin: 0 10px -3px 25px;
}

.login-sigin-button {
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700px;
    color: #fff;
    text-align: center;
    background-color: #02c8db;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;

    transition: all 0.5s;
}

.login-sigin-button:hover {
    background-color: #50e5b9;
}

.login-sigin-button:active {
    background-color: #88ef9e;
}



.login-with-google-btn {

    margin-left: 70px;
    align-items: center;
    justify-content: center;
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

    color: #757575;
    font-size: 16px;
    font-weight: 500;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
}

.login-with-google-btn:hover {
    transition: all 0.7s;
    background-color:rgb(255, 14, 14);
    border-radius: 5px;
    cursor: pointer;
    color: white;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .04), 5px 2px 4px rgba(0, 0, 0, .25);
}

.login-with-google-btn:active {
    background-color: #eeeeee;
}

.login-with-google-btn:focus {
    outline: none;
    box-shadow:
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
}