.box{
    padding: 0;
    margin: 0;
    justify-content: center;
    text-align: center;
}
.box button{
    width: 100px;
    height: 40px;
    border-radius: 15px;
    box-shadow: 2.5px 3px;
    
}
.box button:hover{
    background-color: green;
    border-radius: 15px;
}


.container{
    display: flex;
   
    justify-content: center;
    background-color: black;
    color: white;
}
 
