<div class="trip-list">
    <header class="trip-list-header">
        <div class="trip-list-header-wrap">
            <div class="trip-list-header-top">
                <div class="trip-list-header-top-left">
                    <div class="trip-list-header-back"><a href="/me/trips"></a></div>
                    <h1 class="trip-list-header-title" itemprop="name">HelloTravel</h1>
                </div>
                <div class="trip-list-header-edit">
                    <div class="f-icon trip-edit-icon"></div>
                    <div>編輯</div>
                </div>
            </div>
            <div class="trip-list-header-info">
                <div class="trip-list-header-content">
                    <div class="trip-list-header-date">
                        <div style="width: calc(100% - 30px); display: inline-block;">
                            <div>2021年12月27日<span> - </span>2021年12月29日</div>
                        </div>
                    </div>
                    <div class="trip-list-member"><a href="/m_NjFjOWMzMGNkOGMwMjYwMDMyNzE5YjJk0">
                            <div class="member-img"><img
                                    src="https://assets.funliday.com/users/61c9c30cd8c0260032719b2d/avatar-79163dcf-ab30-42e8-8096-d64314140f95"
                                    alt="柏甫陳" title="柏甫陳" class=""></div>
                        </a></div>
                </div>
            </div>
        </div>
        <div class="trip-list-header-day-container">
            <div class="trip-list-header-day-component">
                <div class="day-cell day-cell-current">
                    <div class="day-cell-content">12月27日<span class="day-number">第1天</span></div>
                </div>
                <div class="day-cell">
                    <div class="day-cell-content">12月28日<span class="day-number">第2天</span></div>
                </div>
                <div class="day-cell">
                    <div class="day-cell-content">12月29日<span class="day-number">第3天</span></div>
                </div>
            </div>
            <nav class="page-controller"><a class="previous"><span></span></a><a class="next"><span></span></a></nav>
        </div>
    </header>
    <div style="height: 100%;">
        <div class="trip-list-day-container" style="height: calc(100% - 242px);">
            <div>
                <header class="trip-list-day-header">
                    <h3 class="" style="background-color: rgb(238, 60, 119); cursor: pointer;">第1天<span> : </span>星期一
                    </h3>
                    <div class="trip-list-day-header-time" style="margin-top: 6px;">出發時間 : <b class="">08:00</b></div>
                </header>
            </div>
            <div>
                <div class="add-venue" style="margin-top: 5px;">
                    <div>+ 新增景點</div>
                </div>
                <header class="trip-list-day-header">
                    <h3 class="" style="background-color: rgb(37, 201, 220); cursor: pointer;">第2天<span> : </span>星期二
                    </h3>
                    <div class="trip-list-day-header-time" style="margin-top: 6px;">出發時間 : <b class="">08:00</b></div>
                </header>
            </div>
            <div>
                <div class="add-venue" style="margin-top: 5px;">
                    <div>+ 新增景點</div>
                </div>
                <header class="trip-list-day-header">
                    <h3 class="" style="background-color: rgb(63, 189, 34); cursor: pointer;">第3天<span> : </span>星期三
                    </h3>
                    <div class="trip-list-day-header-time" style="margin-top: 6px;">出發時間 : <b class="">08:00</b></div>
                </header>
            </div>
            <div>
                <div class="add-venue" style="margin-top: 5px;">
                    <div>+ 新增景點</div>
                </div>
            </div>
        </div>
    </div>
</div>